body {
    font-family : calibri, arial, helvetica, sans-serif;
    text-align: center;
}

div#content {
    margin: 0 auto;
    width : 500px;
    text-align: left;
}

div.product {
    padding-left : 5px;
    padding-right : 5px;
}

p {
    margin-top : 5px;
    margin-bottom : 5px;
}

p ul {
    margin-top: 0px;
}

.price strong {
    font-size : 200%;
    font-weight : bold;
}

.price {
    margin-bottom : 0px;
}

.price-second {
    margin-top : 0px;
}

div.img {
    height : 150px;
    float : left;
    margin-right : 5px;
    margin-bottom : 5px;
}

div.img img {
    height: 150px;
}

.description {
    text-align : justify;
}

.bazaar {
    font-style : italic;
}

.footer {
    margin-top : 20px;
    font-size : 70%;
}

.footer hr {
    border : 1px dotted black;
    border-style : none none dotted;
}